[
  {"id":"master-host",
     "key": {"name":"dynamic-host", "version":"*"}
  },
  {"id":"database-host",
     "key": {"name":"dynamic-host", "version":"*"}
  },
  { "id":"python-master-host",
    "key": {"name":"python", "version":"*"},
    "properties": {
      "installed": true
    },
    "inside": {
      "id":"master-host",
      "key": {"name":"dynamic-host", "version":"*"},
      "port_mapping": {"host": "host"}
    }
  },
  {
    "id": "setuptools-master-host",
    "key" : { "name":"setuptools", "version":"0.6"},
    "properties": {
      "installed":true
    },
    "inside": {
      "id": "master-host",
      "key": {"name":"dynamic-host", "version":"*"},
      "port_mapping": {"host": "host"}
    },
    "environment": [
      { "id" : "python-master-host",
        "key": {"name":"python", "version":"*"},
        "port_mapping":{"python":"python"}
      }
    ]
  },
 {
    "id": "mysql-server",
    "key": {
      "version": "5.1",
      "name": "mysql-macports"
    },
    "inside": {
      "id": "database-host",
      "key": {"name":"dynamic-host", "version":"*"},
      "port_mapping": {
        "host": "host"
      }
    }
  },  
  { "id": "django-webserver-config",
    "key": {"name": "django-development-webserver", "version": "1.0"},
    "inside": {
      "id": "master-host",
      "key": {"name":"dynamic-host", "version":"*"},
      "port_mapping": {"host": "host"}
    }
  },
  {
    "id": "django-1",
    "key": {"name": "Django-App", "version": "1.0"},
    "inside": {
      "id": "master-host",
      "key": {"name":"dynamic-host", "version":"*"}, 
      "port_mapping": {"host": "host"}
    },
    "environment": [
      { "id":"python-master-host",
        "key": {"name":"python", "version":"*"},
        "port_mapping": {"python":"python"}
      }
    ],
    "properties": {
      "app_short_name": "django"
    }
  }
]
