[
  {"id":"master-host",
     "key": {"name":"dynamic-host", "version":"*"}
  },
  { "id":"python-master-host",
    "key": {"name":"python", "version":"*"},
    "properties": {
      "installed": true
    },
    "inside": {
      "id":"master-host",
      "key": {"name":"dynamic-host", "version":"*"},
      "port_mapping": {"host": "host"}
    }
  },
  {
    "id": "setuptools-master-host",
    "key" : { "name":"setuptools", "version":"0.6"},
    "properties": {
      "installed":true
    },
    "inside": {
      "id": "master-host",
      "key": {"name":"dynamic-host", "version":"*"},
      "port_mapping": {"host": "host"}
    },
    "environment": [
      { "id" : "python-master-host",
        "key": {"name":"python", "version":"*"},
        "port_mapping":{"python":"python"}
      }
    ]
  },
  { "id": "moinmoin-webserver-adapter",
    "key": {"name":"MoinMoin-apache-adapter", "version":"2.2"},
    "inside": {
      "id": "master-host",
      "key": {"name":"dynamic-host", "version":"*"},
      "port_mapping": {"host": "host"}
    }
  },
  {
    "id": "moinmoin",
    "key": {"name": "MoinMoin", "version": "1.9"},
    "inside": {
      "id": "master-host",
      "key": {"name":"dynamic-host", "version":"*"},
      "port_mapping": {"host": "host"}
    }
  }
]
